.wpcsm-conditions {
  .input-panel {
    position: relative;
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      margin-right: 5px;

      &.input-type {
        width: calc(30% - 20px);
      }

      &.input-value {
        width: calc(70% - 20px);
      }

      select,
      input {
        width: 100%;
      }
    }

    .input-value {
      text-align: center;

      .spinner {
        float: none;
      }
    }

    .input-compare {
      width: 30%;
      flex: 0 0 30%;
      margin-right: 5px;
    }

    .wpcsm-remove {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: #ff4f3b;
      }
    }

    + button {
      margin-top: 10px;
    }
  }

  .select2-container {
    width: 100% !important;
    max-width: 100% !important;
    float: none !important;
    box-sizing: border-box !important;
    display: inline-block !important;

    .select2-selection {
      border-radius: 3px;
    }
  }

  .select2-search__field {
    width: auto !important;
    min-height: 22px !important;
    height: 22px !important;
    line-height: 22px !important;
    max-width: 100% !important;
    margin-top: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }

  .select2-container--default .select2-selection--multiple {
    border: 1px solid #8c8f94;
  }

  .select2-selection__rendered {
    padding: 0 2px !important;
    display: block !important;
  }

  .select2-selection__rendered li {
    height: 22px !important;
    line-height: 20px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-right: 2px !important;
  }

  .select2-selection__rendered li:last-child {
    margin-bottom: 0;
  }

  .wpc-select2-dropdown .select2-results > .select2-results__options {
    max-height: 480px !important;
  }
}

.wpcsm-design-box {
  .wpcsm-design-box-row {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .wpcsm-design-box-label {
      width: 120px;
      flex: 0 0 120px;
    }

    .wpcsm-design-box-value {
      flex-grow: 1;
      display: flex;
      align-items: center;

      > div {
        margin: 0 10px 0 0;
      }
    }
  }

  .wp-picker-container .wp-color-result.button {
    margin: 0;
  }
}

#wpcsm_metabox_location {
  [class*="hint--"][aria-label]:after {
    white-space: pre-line;
    min-width: 300px;
    line-height: 1.4;
  }

  a[target="_blank"] {
    &:after {
      content: '\f504';
      font-family: dashicons;
      display: inline-block;
      line-height: 1;
      font-weight: 400;
      font-style: normal;
      speak: never;
      text-decoration: inherit;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 14px;
      height: 14px;
      font-size: 14px;
      text-align: center;
      transition: color .1s ease-in;
      margin-left: 5px;
    }
  }

  .select2-container {
    min-width: 360px;
  }

  .wpcsm-custom-location {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &.hidden {
      display: none !important;
    }

    > span {
      margin-left: 5px;

      &:first-child {
        flex-grow: 1;

        input {
          width: 100%;
        }
      }
    }
  }
}

#wpcsm_metabox_conditions {
  .wpcsm-add-condition {
    margin-top: 10px;
  }

  .wpcsm-remove-condition {
    padding: 10px 15px;
    cursor: pointer;
  }

  a[target="_blank"] {
    &:after {
      content: '\f504';
      font-family: dashicons;
      display: inline-block;
      line-height: 1;
      font-weight: 400;
      font-style: normal;
      speak: never;
      text-decoration: inherit;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 14px;
      height: 14px;
      font-size: 14px;
      text-align: center;
      transition: color .1s ease-in;
      margin-left: 5px;
    }
  }
}

#wpcsm_metabox_message {
  ul {
    li {
      padding: 10px 0;
      margin: 0;
      border-bottom: 1px dashed #dddddd;
    }
  }
}

.wpcsm-settings-option {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  min-height: 32px;

  &.hidden {
    display: none;
  }

  > div {
    padding: 15px 10px;
  }

  .option-label {
    flex: 0 0 150px;
    max-width: 150px;
    background: #F9F9F9;
    font-weight: 700;
    border-color: #e5e5e5;
    border-width: 0 1px 1px;
    border-style: solid;
  }

  .option-field {
    flex: 1;
    border-bottom: 1px solid #e5e5e5;
  }

  textarea {
    width: 100%;
  }
}

.wpcsm-settings-note {
  margin-top: 12px;
}

.wpcsm_time_input, .wpcsm_date_input, .wpcsm_date_time_input {
  padding-left: 40px !important;
  background-repeat: no-repeat;
}

.wpcsm_time_input {
  background-image: url('../images/time_bg.jpg');
}

.wpcsm_date_time_input {
  background-image: url('../images/time_bg.jpg');
}

.wpcsm_date_input {
  background-image: url('../images/date_bg.jpg');
}

.wpcsm_time_input:focus {
  background-image: url('../images/time_hover_bg.jpg');
  border-color: #2c4b81 !important;
  box-shadow: none !important;
}

.wpcsm_date_input:focus, .wpcsm_date_time_input:focus {
  background-image: url('../images/date_hover_bg.jpg');
  border-color: #2c4b81 !important;
  box-shadow: none !important;
}

body.post-type-wpc_smart_message .column-activate {
  width: 80px;
  text-align: center;
}

.type-wpc_smart_message .column-activate a.activate,
.type-wpc_smart_message .column-activate a.deactivate {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 36px;
  height: 20px;
  min-height: 20px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  outline: 0;
  cursor: pointer !important;
  transition: all .4s ease;
  box-shadow: none;
  color: #dddddd;
  font-size: 12px;
  text-align: right;
  text-indent: 100px;
  overflow: hidden;
}

.type-wpc_smart_message .column-activate a.activate:focus,
.type-wpc_smart_message .column-activate a.deactivate:focus {
  outline: none !important;
  box-shadow: none !important;
}

.type-wpc_smart_message .column-activate a.activate {
  background: #dddddd !important;
  border-color: #dddddd !important;
}

.type-wpc_smart_message .column-activate a.activate:after, .type-wpc_smart_message .column-activate a.deactivate:after {
  position: absolute;
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: 0;
  transition: all .4s ease;
}

.type-wpc_smart_message .column-activate a.deactivate:after {
  right: 0;
  left: auto;
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease
}

.type-wpc_smart_message .column-activate a.activate:after {
  left: 0;
  background: #fff;
  transition: all .2s ease;
}

.type-wpc_smart_message .column-activate a.updating {
  pointer-events: none;
  opacity: .5;
}

.wpcsm-shortcode {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #dddddd;

  .wpcsm-shortcode-input {
    margin-top: 10px;
    width: 100%;
    border: 1px dashed #8c8f94;
  }
}